<!--parte superior da página-->
<div class="container-fluid">
  <div class="row bg-secondary">

    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54pt">Bem vindo(a)!</h1>
          <h5 class="fs-18pt">Escreva aqui os seus pensamentos e opiniões</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
          <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
        </div>
      </div>

    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://i.imgur.com/H88yIo2.png" alt="" width="500px" height="500px">
    </div>

  </div>
</div>

<!--parte das postagens (mensagens)-->
<div class="container mb-5 mt-5" id="postagens">
  <nav>

    <!--rótulos das abas relativas às postagens-->
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <!--rótulo da aba 'Todas as postagens'-->
      <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as postagens</a>
      <!--rótulo da aba 'Minhas postagens'-->
      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas postagens</a>
      <!--rótulo da aba 'Postagens por tema'-->
      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por tema</a>
    </div>
  </nav>

  <!--conteúdo das abas relativas às postagens-->
  <div class="tab-content" id="nav-tabContent">

    <!--conteúdo da aba 'Todas as postagens'-->
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
      Todas as postagens
    </div>

    <!--conteúdo da aba 'Minhas postagens'-->
    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
      Minhas postagens
    </div>

    <!--conteúdo da aba 'Postagens por tema'-->
    <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">
      Postagens por tema
    </div>
  </div>

</div>


<!--modal de adicionar nova postagem-->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--formulário para escrever nova postagem-->
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo" placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]="postagem.texto" class="form-control" name="texto" id="texto" rows="5"></textarea>
        </div>
        
        <div class="form-group">
          <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo</a></label>
          <!--<select [(ngModel)]="idTema" (change)="findByIdTema()" class="form-control">-->
          <select id="tema" name="tema" class="form-control" [(ngModel)]="idTema" (change)="findByIdTema()">
            <option *ngFor="let item of listaTemas" value="{{item.id}}">
              {{item.descricao}}
            </option>
          </select>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">Publicar</button>
      </div>

    </div>
  </div>
</div>